pyvenv.cfg
maze_solved0.jpg
wallpaper.jpg
bin
activate
pip
pip3
python
python3
pip3.13
python3.13
activate.csh
activate.fish
Activate.ps1
include
python3.13
lib
python3.13
lib64
python3.13
__pycache__:
astar.cpython-313.pyc
